<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Camera permission -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- App can use any camera if present, but does not require one -->
    <uses-feature android:name="android.hardware.camera.any" android:required="false" />
    <!-- If you benefit from autofocus but don't require it -->
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
    <!-- API 33+ (scoped media) -->
    <uses-permission
        android:name="android.permission.READ_MEDIA_IMAGES"
        android:required="false" />

    <!-- Legacy external read for API < 33 -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        android:required="false" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JobNotes">

        <!-- Camera capture screen -->
        <activity
            android:name=".CameraCaptureActivity"
            android:exported="false" />

        <!-- File sharing provider: single authority for the whole app -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>


        <!-- Launcher -->
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustResize"

            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- ADD (directly after the last <activity> in <application>) -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>



    </application>
</manifest>
